@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:wght@300;500;700&display=swap');

* { box-sizing: border-box; }

:root {
    --cafe-noir: #4b3621;
    --oxford-blue: #002147;
    --pale-brown: #987654;
    --seal-brown: #321414;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--pale-brown);
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
}

#root, #app-sections { min-height: inherit; }

#app-sections {
    display: grid;
    grid-template-columns: 1fr 21cm 1fr;
}

#about-app-div, #off-page-buttons-div {
    height: 100vh;
    display: grid;
    align-content: center;
    position: sticky;
    top: 0;
    text-align: center;
    color: var(--seal-brown);
}

h1 {
    margin-bottom: 4px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 3.15rem;
	font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--seal-brown);
}

a:hover { color: var(--cafe-noir); }

#cv-page-div {
    margin: 40px 0;
    min-height: 29.7cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    background-color: white;
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: .93rem;
}

main { padding: 40px 50px; }

#id-section {
    height: 150px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

#avatar-input-ele { display: none; }

#avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#name-and-job-title-div { padding-left: 10px; }

input, .profile, [class^="my"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.profile { min-height: 110px; }

.profile:focus {
    width: 100%;
    min-height: 110px;
    margin-top: 14.88px;
    font-size: .93rem;
}

[class^="my"] { font-size: .93rem; }

.fullName {
    width: 100%;
    min-height: 40.8px;
    margin: 0;
    font-size: 2.1rem;
    font-weight: 700;
}

.jobTitle {
    width: 100%;
    min-height: 15.2px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: .8rem;
    color: dimgrey;
}

[class*="Achievement"] { width: 100%; }

[class*="Contact"] {
    font-size: .8rem;
    min-height: 15.2px;
}

[class$="CityName"], [class$="ZipCode"] {
    display: inline-block;
    min-width: 30px;
}

.main-header {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
    border-left: 4px solid var(--oxford-blue);
    padding-left: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: dimgrey;
}

.header-btn {
    visibility: hidden;
    background-color: transparent;
    color: var(--oxford-blue);
    border: 1px solid var(--oxford-blue);
    border-radius: 4px;
    padding: 3px 8px;
    cursor: pointer;
}

.main-header:hover > .header-btn, 
.specialty-div:hover > .header-btn,
.aside-header:hover > .aside-btn {
    visibility: visible;
}

.header-btn:active, .aside-btn:active {
    box-shadow: 0 0 1.1em -0.3em rgba(0,0,0,0.25) inset;
}

.specialty-div {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 22.4px;
    margin-bottom: 5px;
}

.specialty {
    width: 100%;
    min-height: 27.2px;
    font-size: 1.4rem;
    font-weight: 500;
}

[class^="myCompany"], [class^="mySchool"] {
    display: inline-block;
    min-width: 80px;
    min-height: 18.4px;
}

aside {
    background-color: var(--oxford-blue);
    padding: 170px 20px 40px;
    font-size: .8rem;
    color: white;
}

.aside-header {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 60px;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    font-size: 1rem;
    font-weight: 500;
}

.aside-btn {
    visibility: hidden;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 8px;
    cursor: pointer;
}

.subHeader, [class$="Skill"], [class$="Language"] {
    width: 100%;
    min-height: 15.2px;
    margin-top: 25px;
    margin-bottom: 12.8px;
    font-size: .8rem;
    font-weight: 500;
}

#off-page-buttons-div { justify-items: center; }

.offPgBtn {
    background-color: transparent;
    margin: 10px;
    color: var(--seal-brown);
    border: 2px groove var(--seal-brown);
    border-radius: 6px;
    padding: 7px 15px;
    font-size: 1rem;
    cursor: pointer;
}

.offPgBtn:active {
    box-shadow: 0 0 1.1em -0.3em rgba(0,0,0,0.25) inset;
}

.offPgBtn:focus { outline:0; }

@media print {
    #about-app-div, #off-page-buttons-div {
        display: none;
    }

    body {
        background-color: transparent;
        padding: 0;
        border: 0;
    }

    #cv-page-div {
        box-shadow: unset;
        margin: 0;
        width: 21cm;
    }
}

@page {
    size: A4;
    margin: 0;
}